/**********************************************************
  Add Google Fonts
**********************************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/**********************************************************
  Reset Default Properties Start
**********************************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #80ff80;
}

/**********************************************************
  Reset Default Properties End
**********************************************************/

/**********************************************************
  Common Properties
**********************************************************/
.container {
  padding-inline: 50px;
  margin-block: 50px;
}

.inner-container {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.365);
}

h1,
h2,
h3 {
  color: #003300;
}

/**********************************************************
  Header Start
**********************************************************/
header h1 {
  font-size: 3.5rem;
}

nav {
  background-color: #80ff80;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.365) inset;
  padding: 3rem;
}

nav a {
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
  margin-right: 2rem;
  color: #006600;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

/**********************************************************
  Blog Start (article)
**********************************************************/
.blog h2 {
  font-size: 3rem;
}

.blog h3 {
  font-size: 2.5rem;
}

.blog p,
.blog li {
  font-size: 1.4rem;
  margin-block: 1rem;
  color: #006600;
}

/**********************************************************
  Footer Start
**********************************************************/
footer .inner-container {
  padding-block: 10px;
  color: #fff;
  font-size: 1.4rem;
  background-color: #003300;
}
